# Auto detect text files and perform LF normalization
# Auto detect text files and perform LF normalization
 *.js linguist-language=typescript
  *.css linguist-language=typescript
  *.html linguist-language=typescript

